-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'SUPERADMIN', 'CONSULTANT');

-- CreateTable
CREATE TABLE "contracts" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "namaPaket" TEXT NOT NULL,
    "namaPenyedia" TEXT,
    "ppk" TEXT,
    "nipPPK" TEXT,
    "korwaslap" TEXT,
    "nipKorwaslap" TEXT,
    "pengawasLapangan" TEXT,
    "nipPengawasLapangan" TEXT,
    "paguAnggaran" DOUBLE PRECISION DEFAULT 0.0,
    "nilaiKontrak" DOUBLE PRECISION DEFAULT 0.0,
    "sumberDana" TEXT,
    "nomorKontrak" TEXT,
    "tanggalKontrak" TIMESTAMP(3),
    "masaPelaksanaan" INTEGER DEFAULT 0,
    "tanggalSelesaiAwal" TIMESTAMP(3),
    "tanggalSelesaiAkhir" TIMESTAMP(3),
    "totalAddendumWaktu" INTEGER DEFAULT 0,
    "volumeKontrak" TEXT,
    "satuanKontrak" TEXT,
    "subKegiatan" TEXT,
    "konsultanSupervisi" TEXT,
    "nomorKontrakSupervisi" TEXT,
    "nilaiKontrakSupervisi" DOUBLE PRECISION DEFAULT 0.0,
    "tanggalKontrakSupervisi" TIMESTAMP(3),
    "masaPelaksanaanSupervisi" INTEGER DEFAULT 0,
    "hasilProdukAkhir" TEXT,
    "dimensi" TEXT,
    "dokumentasiAwal" TEXT,
    "dokumentasiTengah" TEXT,
    "dokumentasiAkhir" TEXT,
    "dokumenPendukung" TEXT,
    "hasAddendum" BOOLEAN DEFAULT false,

    CONSTRAINT "contracts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "progress_fisik" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "contractId" TEXT NOT NULL,
    "month" TEXT NOT NULL,
    "week" INTEGER NOT NULL,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "rencana" DOUBLE PRECISION NOT NULL,
    "realisasi" DOUBLE PRECISION NOT NULL,
    "deviasi" DOUBLE PRECISION NOT NULL,
    "bermasalah" BOOLEAN NOT NULL DEFAULT false,
    "deskripsiMasalah" TEXT,
    "keterangan" TEXT,

    CONSTRAINT "progress_fisik_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "progress_keuangan" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "totalProgress" DOUBLE PRECISION DEFAULT 0.0,
    "totalPayment" DOUBLE PRECISION DEFAULT 0.0,
    "uangMuka" DOUBLE PRECISION DEFAULT 0.0,
    "termin1" DOUBLE PRECISION DEFAULT 0.0,
    "termin2" DOUBLE PRECISION DEFAULT 0.0,
    "termin3" DOUBLE PRECISION DEFAULT 0.0,
    "termin4" DOUBLE PRECISION DEFAULT 0.0,
    "contractId" TEXT NOT NULL,

    CONSTRAINT "progress_keuangan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lokasi" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "kota" TEXT,
    "distrik" TEXT,
    "kampung" TEXT,
    "koordinatAwal" TEXT,
    "koordinatAkhir" TEXT,
    "contractId" TEXT NOT NULL,

    CONSTRAINT "lokasi_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "addendums" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "name" TEXT,
    "tipe" TEXT,
    "tanggal" TIMESTAMP(3),
    "hari" INTEGER,
    "volume" TEXT,
    "satuan" TEXT,
    "pemberianKesempatan" BOOLEAN NOT NULL,
    "alasan" TEXT,
    "contractId" TEXT NOT NULL,

    CONSTRAINT "addendums_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contract_access" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "userId" TEXT NOT NULL,
    "contractId" TEXT NOT NULL,

    CONSTRAINT "contract_access_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "emailVerified" BOOLEAN NOT NULL DEFAULT false,
    "image" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'SUPERADMIN',
    "lastLoggedIn" TIMESTAMP(3),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "password_resets" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "password_resets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "session" (
    "id" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "token" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "userId" TEXT NOT NULL,
    "budgetYear" INTEGER,

    CONSTRAINT "session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "account" (
    "id" TEXT NOT NULL,
    "accountId" TEXT NOT NULL,
    "providerId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "accessToken" TEXT,
    "refreshToken" TEXT,
    "idToken" TEXT,
    "accessTokenExpiresAt" TIMESTAMP(3),
    "refreshTokenExpiresAt" TIMESTAMP(3),
    "scope" TEXT,
    "password" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "verification" (
    "id" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3),

    CONSTRAINT "verification_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "progress_fisik_contractId_month_week_key" ON "progress_fisik"("contractId", "month", "week");

-- CreateIndex
CREATE UNIQUE INDEX "progress_keuangan_contractId_key" ON "progress_keuangan"("contractId");

-- CreateIndex
CREATE UNIQUE INDEX "lokasi_contractId_key" ON "lokasi"("contractId");

-- CreateIndex
CREATE UNIQUE INDEX "contract_access_userId_contractId_key" ON "contract_access"("userId", "contractId");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "password_resets_token_key" ON "password_resets"("token");

-- CreateIndex
CREATE INDEX "password_resets_token_idx" ON "password_resets"("token");

-- CreateIndex
CREATE INDEX "password_resets_userId_idx" ON "password_resets"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "session_token_key" ON "session"("token");

-- AddForeignKey
ALTER TABLE "progress_fisik" ADD CONSTRAINT "progress_fisik_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "contracts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "progress_keuangan" ADD CONSTRAINT "progress_keuangan_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "contracts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lokasi" ADD CONSTRAINT "lokasi_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "contracts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "addendums" ADD CONSTRAINT "addendums_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "contracts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contract_access" ADD CONSTRAINT "contract_access_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contract_access" ADD CONSTRAINT "contract_access_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "contracts"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "password_resets" ADD CONSTRAINT "password_resets_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "session" ADD CONSTRAINT "session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "account" ADD CONSTRAINT "account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

